@import 'tailwindcss';

.overgrid {
  --overgrid-color-gray: #f2f2f2;
  --overgrid-color-gray-hover: #e0e0e0;
  --overgrid-color-text: white;
}

.overgrid-header {
  @apply bg-pink-800 text-white;
}

.overgrid-column-title-container-hoverable {
  @apply hover:bg-pink-950;
}

.overgrid-row {
  @apply bg-pink-700 text-white;
}

.overgrid-header .overgrid-cell {
  @apply border-r-[1px] border-black/5;
}

.overgrid-header .overgrid-cell:last-child {
  @apply border-r-0;
}

.overgrid-row {
  @apply border-b-[1px] border-black/5;
}

/* Button styles */
.overgrid-btn-primary {
  @apply bg-amber-400 text-black hover:bg-amber-600 focus:ring-pink-600;
}

.overgrid-btn-secondary {
  @apply bg-gray-100 text-gray-900 hover:bg-gray-200 focus:ring-gray-400;
}

.overgrid-btn-danger {
  @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-500;
}

.overgrid-btn-ghost {
  @apply bg-transparent text-gray-700 hover:bg-gray-100 focus:ring-gray-300;
}
/* Button styles */

.overgrid-checkbox {
  @apply w-5 h-5 cursor-pointer;
}
