@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

.overgrid[data-theme='default'] {
  font-family: 'Ubuntu', sans-serif;
  --overgrid-color-overcode-red: #d92228;
  --overgrid-color-overcode-red-active: #972322;
}

.overgrid[data-theme='default'] .overgrid-header {
  @apply bg-black/5 dark:bg-white/10;
}

.overgrid[data-theme='default'] .overgrid-column-title-container-hoverable {
  @apply hover:bg-black/10;
}

.overgrid[data-theme='default'] .overgrid-header .overgrid-cell {
  @apply border-r-[1px] border-black/5 dark:text-white dark:border-white/20;
}

.overgrid[data-theme='default'] .overgrid-body .overgrid-cell {
  @apply border-r-[1px] border-black/5 dark:text-white dark:border-white/20;
}

.overgrid[data-theme='default'] .overgrid-body .overgrid-cell:first-child {
  @apply border-l-[1px] border-black/5 dark:border-white/20;
}

.overgrid[data-theme='default'] .overgrid-header .overgrid-cell:last-child {
  @apply border-r-0;
}

.overgrid[data-theme='default'] .overgrid-body .overgrid-extra-row-cell {
  @apply border-l-[1px] border-b-[1px] border-black/5 p-4 bg-black/5 dark:border-white/20 dark:text-white;
}

.overgrid[data-theme='default'] .overgrid-row {
  @apply border-b-[1px] border-black/5 dark:border-white/20;
}

/* Button styles */
.overgrid[data-theme='default'] .overgrid-btn-primary {
  @apply bg-(--overgrid-color-overcode-red) text-white hover:bg-(--overgrid-color-overcode-red-active) focus:ring-(--overgrid-color-overcode-red);
}

.overgrid[data-theme='default'] .overgrid-btn-secondary {
  @apply bg-slate-700 text-white hover:bg-slate-800 focus:ring-slate-700;
}

.overgrid[data-theme='default'] .overgrid-btn-danger {
  @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-500;
}

.overgrid[data-theme='default'] .overgrid-btn-light {
  @apply bg-black/10 text-black hover:bg-black/20 dark:text-white dark:bg-white/10 dark:hover:bg-white/20;
}

.overgrid[data-theme='default'] .overgrid-btn-ghost {
  @apply bg-transparent text-gray-700 hover:bg-gray-100 focus:ring-gray-300 dark:hover:bg-gray-800 hover:focus:ring-gray-800 dark:text-white/70 dark:focus:ring-gray-700;
}
/* Button styles */

/* Input styles */
.overgrid[data-theme='default'] .overgrid-input-primary {
  @apply border-[1px] border-black/20 focus:outline-1 outline-offset-1 outline-black/20 dark:border-white/30 dark:text-white;
}

.overgrid[data-theme='default'] .overgrid-input-secondary {
  @apply bg-amber-400 text-black hover:bg-amber-600 focus:shadow-sm dark:border-white/30 dark:text-white;
}
/* Input styles */

/* Checkbox styles */
.overgrid[data-theme='default'] .overgrid-checkbox {
  @apply w-5 h-5 cursor-pointer;
}

.overgrid[data-theme='default'] .overgrid-checkbox-black {
  @apply rounded-full text-black/70 dark:text-white/70;
}

.overgrid[data-theme='default'] .overgrid-checkbox-black svg {
  @apply w-3 h-3 text-black/70 dark:text-white/70;
}

.overgrid[data-theme='default'] .overgrid-checkbox-secondary {
  @apply rounded-full border-black/70 dark:border-white/70;
}

.overgrid[data-theme='default'] .overgrid-checkbox-secondary svg {
  @apply w-3 h-3 text-black/70 dark:text-white/70;
}
/* Checkbox styles */

/* Radio styles */
.overgrid[data-theme='default'] .overgrid-radio-primary {
  @apply rounded-full border-pink-700;
}

.overgrid[data-theme='default'] .overgrid-radio-primary svg {
  @apply w-3 h-3 text-pink-700;
}

.overgrid[data-theme='default'] .overgrid-radio-black {
  @apply rounded-full border-black/70 dark:border-white/70;
}

.overgrid[data-theme='default'] .overgrid-radio-black svg {
  @apply w-3 h-3 text-black/70 dark:text-white/70;
}
/* Radio styles */

.overgrid-toolbar-dropdown-section-title {
  @apply dark:text-white;
}

.overgrid-toolbar-item {
  @apply dark:text-white;
}

.overgrid-modal-inner {
  @apply dark:text-white;
}

.overgrid-paginator {
  @apply dark:text-white;
}
